{% extends '::base.html.twig' %}

{% block content %}
  <div class="card col-md-6 offset-3">
      <div class="card-body">
          <h2>Edit recognition</h2>
            {{ include('@Feedback/Form/add_edit_recognition.html.twig', { form: form}) }}
      </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
    {{ form_jquery_validation(form) }}
  </script>
{% endblock %}

{% block javascript_libs %}
  {{ parent() }}

  {% javascripts output='compiled/js/admin.integration.form_validators.js' filter="?jsqueeze"
  '@boekkooi_jquery_validation_bundle'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}