{% extends "::base.html.twig" %}

{% block content %}
  {% if finalizedSessions|length == 0 %}
    <div class="alert alert-danger" role="alert">
      There are no finalized feedback session!
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-6">
        <h5>What are some things he does well ?</h5>
        <ul>
          {% for session in finalizedSessions %}
            <li style="display:list-item;"><strong>{{ session.from.username }}: </strong>{{ session.goodPoints }}</li>
          {% endfor %}
        </ul>

        <hr>

        <h5>What are some things he could do better?</h5>
        <ul>
          {% for session in finalizedSessions %}
            <li style="display:list-item;"><strong>{{ session.from.username }}</strong>{{ session.improvePoints }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <div id="base-chart-section">
          <canvas id="base-chart-canvas"></canvas>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts output='compiled/js/homepage_page.js' filter="?jsqueeze"
  '@FeedbackBundle/Resources/public/js/BasicChart.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}