<div id = "topBar">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-cyan darken-4">

        <img src="https://cdn.dribbble.com/users/78422/screenshots/1790318/letter-f-logo-template.jpg" height="30" class="d-inline-block align-top" alt="">

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('homepage') }}">Home
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Send Feedback</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recognitions</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url('add_recognition_action') }}">Add recognition</a>
                        <a class="dropdown-item" href="{{ url('show_my_recognition_action') }}">My recognitions</a>
                        <a class="dropdown-item" href="{{ url('show_company_recognition_action') }}">Company recognitions</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url('show_goals_page') }}">My goals</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('sonata_admin_dashboard') }}">Admin panel</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if app.user is defined %}
            <!-- Collapsible content -->
            <div class="pull-right">
                Hy, {{ app.user.username }}

                <a href="{{ url(('fos_user_security_logout')) }}">
                    <button class="btn btn-danger">Log out</button>
                </a>
            </div>
        {% endif %}
    </nav>
    <!--/.Navbar-->
</div>