<h5>My active goals</h5>
<div class="active-goal">
      {% for goal in goals %}
          <div class="goal-element">
              {{ goal.title }}
              <div class="progress">
                      <div style="width: {{ goal.progress }}%;" class="progress-bar {% if goal.progress == 100 %}{{ 'bg-success' }}{% endif %}"
                           role="progressbar" aria-valuenow="{{ goal.progress }}" aria-valuemin="0" aria-valuemax="100">{{ goal.progress }}%</div>
              </div>
          </div>
      {% endfor %}
</div>