<style>
    .error ul li{
        display: block;
    }
    .error ul{
        width: 100%;
    }
</style>
{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'form-horizontal'}}) }}
<div class="control-group">
  {{ form_label(form.current_password, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
      {{ form_widget (form.current_password, { attr : { class :"form-control" } }) }}
    </div>
    <div class="error">
      {{ form_errors(form.current_password) }}
    </div>
</div>

<div class="control-group">
  {{ form_label(form.new.first, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
      {{ form_widget (form.new.first, { attr : { class :"form-control" } } ) }}
    </div>
    <div class="error">
      {{ form_errors(form.new.first) }}
    </div>
</div>
<div class="control-group">
  {{ form_label(form.new.second, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
      {{ form_widget (form.new.second, { attr : { class :"form-control" } } ) }}
    </div>
    <div class="error">
      {{ form_errors(form.new.second) }}
    </div>
</div>
<div class="control-group" style="margin-top: 10px;margin-left: 22%;">
    <div class="controls">
        <input class="form-control btn btn-danger" type="submit" id="_submit" name="_submit"
               value="{{ 'Change password' }}"/>
    </div>
</div>
{{ form_end(form) }}
