{% set currentValue = form.vars.value %}

{{ form_start(form, {'methos': 'post', 'attr':{'class':'handler-goal-form form-horizontal'} }) }}

{% if not form.vars.valid %}
    <div class="alert alert-block alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{ form_errors(form.title) }}
      {{ form_errors(form.description) }}
      {{ form_errors(form.startDate) }}
      {{ form_errors(form.endDate) }}
    </div>
{% endif %}

<div class="control-group">
  {{ form_label(form.title, null, {'label_attr': {'class': 'control-label'}}) }}
  <div class="controls">
    {{ form_widget (form.title, { attr : { class :"form-control" } }) }}
  </div>
</div>

<div class="control-group">
  {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
  <div class="controls">
    {{ form_widget (form.description, { attr : { class :"form-control" } }) }}
  </div>
</div>

<div class="control-group">
  {{ form_label(form.startDate, null, {'label_attr': {'class': 'control-label'}}) }}
  <div class="controls">
    {{ form_widget (form.startDate, { attr : { class :"form-control js-datepicker" } }) }}
  </div>
</div>

<div class="control-group">
  {{ form_label(form.endDate, null, {'label_attr': {'class': 'control-label'}}) }}
  <div class="controls">
    {{ form_widget (form.endDate, { attr : { class :"form-control js-datepicker" } }) }}
  </div>
</div>
{% if currentValue.id is not null %}
  <div class="control-group">
    {{ form_label(form.progress, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
      {{ form_widget (form.progress, { attr : { class :"form-control" } }) }}
    </div>
  </div>
{% endif %}
<div class="control-group" style="margin-top: 20px;margin-left: 33%;">
  <div class="controls">
    <input class="form-control btn btn-success" type="submit" id="_submit" name="_submit"
           value="{% if currentValue.id is null %}{{ 'Add a new goal' }}{% else %}{{ 'Edit current goal' }}{% endif %}"/>
  </div>
</div>
{{ form_end(form) }}