{% set currentValue = form.vars.value %}

{{ form_start(form, {'methos': 'post', 'attr':{'class':'handler-goal-form form-horizontal', 'novalidate': 'novalidate'} }) }}

<div class="control-group">
  {{ form_label(form.to, null, {'label_attr': {'class': 'control-label'}}) }}
  <div class="controls">
    {{ form_widget (form.to, { attr : { class :"form-control" } }) }}
  </div>
  <div class="error">
    {{ form_errors(form.to) }}
  </div>
</div>

<div class="control-group">
  {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
  <div class="controls">
    {{ form_widget (form.type, { attr : { class :"form-control" } }) }}
  </div>
  <div class="error">
    {{ form_errors(form.type) }}
  </div>
</div>

<div class="control-group">
  {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
  <div class="controls">
    {{ form_widget (form.description, { attr : { class :"form-control" } }) }}
  </div>
  <div class="error">
    {{ form_errors(form.description) }}
  </div>
</div>

<div class="control-group" style="margin-top: 20px;margin-left: 33%;">
  <div class="controls">
    <input class="form-control btn btn-success" type="submit" id="_submit" name="_submit"
           value="{% if currentValue.id is null %}{{ 'Add new recognition' }}{% else %}{{ 'Edit current recognition' }}{% endif %}"/>
  </div>
</div>
{{ form_end(form) }}