{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container">
        <div class="user-toolbar">
            <p class="welcome">{{ 'Welcome %username%!' | trans({'%username%': app.user}) }}</p>
            <p class="info-links">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="admin-dashboard" href="{{ url('sonata_admin_dashboard') }}">{{ 'Dashboard' | trans }}</a>
            {% endif %}
            <a class="logout" href="{{ logout_url() }}">{{ 'Logout' | trans }}</a>
            </p>
        </div>
    </div>
{% endif %}
